<div class="cascade">
    <input type="text">
    <ul class="option-box">
        <li>
            <a href="javascript:;">
                <span>选项1</span>
            </a>
        </li>
        <li>
            <a href="javascript:;">
                <span>选项2</span>
                <span class="">
                   <i class="fa fa-angle-right pull-right"></i>
                </span>
            </a>
            <ul class="sub-option-box">
                <li>子选项1</li>
                <li>子选项2</li>
                <li>子选项3</li>
                <li>子选项4</li>
                <li>子选项5</li>
            </ul>
        </li>
        <li>
            <a href="javascript:;">
                <span>选项3</span>
            </a>
        </li>
        <li>
            <a href="javascript:;">
                <span>选项4</span>
            </a>
        </li>
        <li>
            <a href="javascript:;">
                <span>选项5</span>
            </a>
        </li>
    </ul>
</div>
